<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Cadence</title>
    
</head>
<body>
        <h1>Cadence Check/Uncheck using JavaScript</h1> 
        <form method="POST" name="cadence" id="cadence"> 
  
            <div> 
                <input type="button" onclick="checkAll()" value="Check All"> 
                <input type="button" onclick="uncheckAll()" value="Uncheck All"> 
            </div> 
  
            <label> 
                <input type="checkbox" name="check2" class="check2"> First 
            </label> 
  
            <label> 
                <input type="checkbox" name="check2" class="check2"> Second 
            </label> 
  
            <label> 
                <input type="checkbox" name="check2" class="check2"> Third 
            </label> 
  
        </form> 
    

        <script src="lead.js"></script>
</body>
</html>